/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* Add any custom component classes here */
  .section-padding {
    @apply py-16 md:py-24;
  }
}

@layer utilities {
  /* Add any custom utility classes here */
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  .relative {
    width: 100vw;  /* Take full viewport width */
    height: 100vh; /* Take full viewport height */
  }

  .relative > div {
    width: 100%;   /* Ensure it doesn't overflow on small screens */
    height: auto;  /* Adjust height for mobile devices */
  }

  .absolute {
    width: 80vw;   /* Make sure the typing box doesn't go beyond the screen */
    height: 40vh;  /* Adjust the height for mobile screens */
  }
}

.avatar {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}

.avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.avatar .rotate-y-180 {
  transform: rotateY(180deg);
}

.avatar .backface-hidden {
  backface-visibility: hidden;
}
